.servicesAndHelpWrap {
  padding: 32px 0px 32px 0px;
  gap: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;

  @media screen and (min-width: 1280px) {
    width: 260px;
    height: 359px;
  }

  @media screen and (max-width: 1279px) {
    border-style: solid;
    border-color: var(--primary-pasteltahoesnow, #d8e2e6);
    border-width: 1px 0px 0px 0px;
    padding: 24px 0px 24px 0px;
    gap: 16px;
  }
}

.servicesAndHelpBox {
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
}

.title {
  color: var(--text-river-styx, #0c1012);
  text-align: left;
  font-family: var(--heading-4-font-family, "Adelle-SemiBold", sans-serif);
  font-size: var(--heading-4-font-size, 24px);
  line-height: var(--heading-4-line-height, 32px);
  font-weight: var(--heading-4-font-weight, 600);
  position: relative;
}

.servisList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;

  @media screen and (max-width: 1279px) {
    gap: 8px;
  }
}

.servisItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.servisBtn {
  color: var(--text-river-styx, #0c1012);
  text-align: left;
  font-family: "HvDTrialBrandonText-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: relative;

  @media screen and (max-width: 1279px) {
    width: 167px;
  }
}
