.header-desktop,
.header-desktop * {
    box-sizing: border-box;
}
.header-desktop {
    background: #ffffff;
    padding: 0px 20px 12px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 412px;
    position: relative;
}
.header-row-1 {
    background: #ffffff;
    border-style: solid;
    border-color: var(--primary-pasteltahoesnow, #d8e2e6);
    border-width: 0px 0px 1px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.logo-header-desktop {
    flex-shrink: 0;
    width: 105px;
    height: 45px;
    position: relative;
    overflow: visible;
}
/* delete .account-cart-and-button  */
.account-and-cart {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
/* Add */
.frame-26080103 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    position: relative;
}
/* delete account */

.icons {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}
/* Add */
.frame-26080100 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    position: relative;
}

/* delete account2 */

/* delete cart */

.icons2 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

/* delete cart2 */

/* Add */
.frame-26080101 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    position: relative;
}

/* delete button */

/* Add */
.icons3 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

/* Add */
.frame-26080102 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 372px;
    position: relative;
}

/* delete label, header-row-2, menu-items*/

/* add */
.input-chip {
    border-radius: 8px;
    border-style: solid;
    border-color: var(--primary-pasteltahoesnow, #d8e2e6);
    border-width: 1px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
/* add */
.state-layer {
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

/* add */
.label-text {
    color: var(--text-river-styx, #0c1012);
    text-align: center;
    font-family: var(
        --titlesmall-font-family,
        "HvDTrialBrandonText-Medium",
        sans-serif
    );
    font-size: var(--titlesmall-font-size, 16px);
    line-height: var(--titlesmall-line-height, 22px);
    font-weight: var(--titlesmall-font-weight, 500);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
